.Fizz[b-ledofmd3zz] {
    background-color: #d3d3d3;
    color: var(--cf-dark-color);
}

.Buzz[b-ledofmd3zz] {
    background-color: #424242;
    color: var(--cf-light-color);
}

.FizzBuzz[b-ledofmd3zz] {
    background-color: #ff993b;
    color: var(--cf-dark-color);
}