/* /Components/Layout/TopNavFooter.razor.rz.scp.css */
.footerStyle[b-m076yffpmu] {
    background-color: var(--cf-theme-900);
}

.footerStyle a[b-m076yffpmu] {
    color: var(--cf-theme-200);
}

.footerStyle a:hover[b-m076yffpmu] {
    color: var(--cf-theme-core);
}

.bi[b-m076yffpmu] {
    font-size: 1.5rem;
    padding-inline-start: .5rem;
}
/* /Components/Layout/TopNavMenu.razor.rz.scp.css */
.navStyle[b-4guwcpmypj] {
    background-color: var(--cf-theme-850);
}

.nav-item[b-4guwcpmypj] {
    --bs-navbar-hover-color: var(--cf-theme-400);
    --bs-nav-link-hover-color: var(--cf-theme-400);
}

.dropdown-menu[b-4guwcpmypj] {
    background-color: var(--cf-theme-900);
}

.dropdown:has(.nav-link.active) .dropdown-toogle[b-4guwcpmypj] {
    color: var(--bs-navbar-active-color);
}
/* /Components/Pages/Home.razor.rz.scp.css */
.pageStyle[b-o7vue5vhwq] {
    background: url(images/LandingPageBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title[b-o7vue5vhwq] {
    font-family: var(--cf-title-font);
    font-size: 3rem;
    color: var(--cf-title-color);
    line-height: 3rem;
}

.subtTile[b-o7vue5vhwq] {
    font-size: 1rem;
    font-family: var(--cf-body-font);
}

.devicons[b-o7vue5vhwq] {
    font-size: 2rem;
}

@media (min-width: 992px) {
    .title[b-o7vue5vhwq] {
        font-family: var(--cf-title-font);
        font-size: 3.5rem;
        color: var(--cf-title-color);
        line-height: 3rem;
    }

    .subtTile[b-o7vue5vhwq] {
        font-size: 1.5rem;
        font-family: var(--cf-body-font);
    }

    .devicons[b-o7vue5vhwq] {
        font-size: 2.5rem;
    }
}
/* /Components/UI/FizzBuzzItem.razor.rz.scp.css */
.Fizz[b-ledofmd3zz] {
    background-color: #d3d3d3;
    color: var(--cf-dark-color);
}

.Buzz[b-ledofmd3zz] {
    background-color: #424242;
    color: var(--cf-light-color);
}

.FizzBuzz[b-ledofmd3zz] {
    background-color: #ff993b;
    color: var(--cf-dark-color);
}
