.navStyle[b-4guwcpmypj] {
    background-color: var(--cf-theme-850);
}

.nav-item[b-4guwcpmypj] {
    --bs-navbar-hover-color: var(--cf-theme-400);
    --bs-nav-link-hover-color: var(--cf-theme-400);
}

.dropdown-menu[b-4guwcpmypj] {
    background-color: var(--cf-theme-900);
}

.dropdown:has(.nav-link.active) .dropdown-toogle[b-4guwcpmypj] {
    color: var(--bs-navbar-active-color);
}