.footerStyle[b-m076yffpmu] {
    background-color: var(--cf-theme-900);
}

.footerStyle a[b-m076yffpmu] {
    color: var(--cf-theme-200);
}

.footerStyle a:hover[b-m076yffpmu] {
    color: var(--cf-theme-core);
}

.bi[b-m076yffpmu] {
    font-size: 1.5rem;
    padding-inline-start: .5rem;
}
