@page "/"

<PageTitle>FizzBuzz Home</PageTitle>
<!--Page background-->
<div class="pageStyle h-100 d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-xl-2 container-xl h-100">
        <div class="col d-flex flex-column justify-content-xl-center order-last order-xl-first mt-3">
            <div class="title">Fizz Buzz: A Coding Challenge built with blazor</div>
            <div class="subtTile">Showcasing Modern Development skilss Througth a coding challenge</div>
            
            <div class="mt-3">
                <h4>What is FizzBuzz?</h4>
                <p style="text-align: justify;">FizzBuzz is a classic coding challenge often used in technical interviews. The task is simple: for each number from 1 to a given limit, display 'Fizz' if the number is divisible by one value, 'Buzz' if divisible by another, and 'FizzBuzz' if divisible by both. This app lets you input your own values and explore how the FizzBuzz logic works.</p>
            </div>

            <div class="mt-3">
                <a href="/fizzbuzz" class="btn btn-primary rounded">Try it out</a>
            </div>
            <div class="mt-3">
                Built with pride with:
                <div class="hstack my-2">
                    <div><i class="devicons devicon-csharp-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-blazor-original colored me-1"></i></div>
                    <div><i class="devicons devicon-bootstrap-plain colored me-1"></i></div>
                    <div><i class="devicons devicon-wasm-original colored me-1"></i></div>
                    <div><i class="devicons devicon-html5-plain colored"></i></div>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-center mt-3">
            <img src="/images/fizzbuzzTitleLogo.png" class="img-fluid"/>
        </div>
    </div>
</div>